@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  /* LAYOUT */
  --mobile: 375px;
  --tablet: 768px;
  --desktop: 1440px;

  /* COLORS */
  /* Primary */

  --lightRed: hsl(0, 100%, 67%);
  --orangeyYellow: hsl(39, 100%, 56%);
  --greenTeal: hsl(166, 100%, 37%);
  --cobaltBlue: hsl(234, 85%, 45%);

  /* Gradients */

  /*background*/
  --lightSlateBlue: hsl(252, 100%, 67%); /*background*/
  --lightRoyalBlue: hsl(241, 81%, 54%);

  /* circle */
  --violetBlue: hsla(256, 72%, 46%, 1);
  --persianBlue: hsla(241, 72%, 46%, 0);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --paleBlue: hsl(221, 100%, 96%);
  --lightLavender: hsl(241, 100%, 89%);
  --darkGrayBlue: hsl(224, 30%, 27%);

  /* TYPO */
  --fontFamily: "Hanken Grotesk", sans-serif;
  --fontSize: 1.1rem; /*Equivalent 18px*/
  /* Weights: 500, 700, 800 */

  /* SPACING & BORDER RADIUS */
  --margin: 1rem;
  --padding: 1rem;
  --borderRadius: 0.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
main,
.component,
footer {
  display: flex;
}
body {
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  font-weight: 500;
  background-color: var(--paleBlue);

  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
main {
  border: 1px solid red;

  width: 100%;
  height: 90vh;

  align-items: center;
  justify-content: center;
}
.component {
  border: 1px solid purple;

  width: 736px;
  height: 512px;

  align-items: center;
}
.result,
.summary {
  height: 100%;
  width: 368px;
}
.result {
  border: 1px solid yellowgreen;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: calc(var(--padding) * 1.6) calc(var(--padding) * 2.5);
}
.result-box {
  border: 1px solid red;

  width: 200px;
  height: 200px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.result .perfom {
  border: 1px solid yellow;

  text-align: center;
}
.summary,
.types-box,
.type,
.type-title {
  display: flex;
}
.summary {
  border: 1px solid red;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: calc(var(--padding) * 1.6) calc(var(--padding) * 2.5);
}
.summary h2 {
  align-self: flex-start;
}
.types-box {
  border: 1px solid black;
  width: 288px;
  height: 272px;

  flex-direction: column;
  justify-content: space-between;
  gap: var(--margin);
}
.type {
  border: 1px solid blue;

  width: 288px;
  height: 56px;

  align-items: center;
  justify-content: space-between;

  align-self: center;
}
.type-title {
  /* display: flex; */
}
.summary button {
  width: 100%;
}
footer {
  border: 1px solid green;

  width: 100%;
  height: 10vh;
  text-align: center;
  padding: 0 var(--padding);

  justify-content: center;
  align-items: center;
}
